body {
    font-family: sans-serif;
background-color: black;}
 p
  {color: cornflowerblue;
  font-family:monospace;
  font-size: 15px;}
.sussy
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  }
  .ds
  { display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%; }
.joe02
{display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;}
  a{color: cornflowerblue;
  font-family:monospace;
  font-size: 25px;}
